<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Points</th>
    <th>Sponsor</th>
  </tr>
  <% @challenges.each do |row| %>
    <tr>
      <td><%= row.title %></td>
      <td><%= link_to row.description, new_challenge_upload_path(row.id) %></td>
      <td><%= row.points %></td>
      <td><%= row.sponsor %></td>
    </tr>
  <% end %>
</table>