

<!-- SPONSOR IMAGE -->

<div class=“text-center”>
 <img src=“http://via.placeholder.com/1500x250” class=“img-fluid max-width: 100%;” alt=“sponsorimage”>
</div></br></br>


<!-- text Area -->

<div class=“text-center”>
 <h2>This Week’s Challenges</h1>
</div></br>


<!-- CARDS / 3 PER ROW / HEAVE LEFT THE IMAGE IN CASE WANTED TO ADD? -->

<div class=“container”>
   <div class=“row”>
       
      <% @challenges.each do |challenge| %>

      <!-- Here we need another if statement, that either removes, or changes how the challenge look if it has already been completed?  -->
       
       <div class=“col-md-6 col-lg-4 col-xl-3”>
       <div class=“card”>
       <img class=“card-img-top img-fluid” src=“//placehold.it/500x280" alt=“Card image cap”>
               
          <div class=“card-block”>
          <h5 class=“card-title”><%= challenge.title %></h5>  
          <h6 class=“card-subtitle mb-2 text-muted”><%= challenge.description %></h6>
          <%= button_to “Complete Challenge”, new_challenge_upload_path(challenge.id), method: :get, class:“btn btn-primary”%></br>
               
               </div>
           </div>
       </div>
    <% end %></br>
   </div>
</div></br></br>

