// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// challenge index page
#jumbotron_challenge_index {
	background-image: url('http://via.placeholder.com/1500x250');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
// end